#container {  
  max-width: 100%;
  margin-left: 27%;
  background-image: linear-gradient(@azuerishwhite, @taupegray);

  #main-content {

    #main-intro {
      .content-bg(url("helloquence-5fNmWej4tAA-unsplash.jpg"));

      .description {
        .content-text;
        
        h2 {
          font-family: @header-font;
        }

        p {
          .content-subtext;
        }
      }
    }

    #the-app {
      .content-bg(url("adeolu-eletu-unRkg2jH1j0-unsplash.jpg"));

      .description {
        .content-text;
        
        h2 {
          font-family: @header-font;
        }

        p {
         .content-subtext;
        }
      }
    }

    #the-team {
      .content-bg(url("john-schnobrich-2FPjlAyMQTA-unsplash.jpg"));

      .description {
        .content-text;
        
        h2 {
          font-family: @header-font;
        }

        p {
          .content-subtext;
        }
      }
    }

    #contact {
      .content-bg(url("photo-1528747045269-390fe33c19f2.jpg"));
      
      .description {
        .content-text;

        h2 {
          font-family: @header-font;
        }
        
        p {
          .content-subtext;
        }
      }
    }
  }
}
