.flex-collumn {
    display: flex;
    flex-direction: column;
}

.content-bg (@image) {
    height: 150vh;
    background-image: @image;
    background-color: @container-bg1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

// .content-header {

// }