#sidebar {
  position: fixed;
  background: @sidebar-bg;
  .flex-column();
  max-width: 27%;

  .main-logo-txt {
    width: auto;
    text-align: center;
    font-size: 5rem;
    padding-top: 10%;
    font-family: 'Shadows Into Light', cursive;;
    color: @container-bg1;
   }

  .main-nav {
    max-width: 100%;
    align-self: center;

    ul {
      .flex-column();
      flex-wrap: wrap;
      height: 600px;

      #first-li {
        padding-top: 15%;
        text-align: center;
      }
      
      .else-li {
        padding-top: 20%;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: @container-bg1;
        font-size: 1.6rem;
        align-self: center;
        font-family: @general-font;
      }

      a:hover {
        text-decoration-color: @container-bg1;
      }
    }
  }

  @media @mobile {
    max-width: 500px;
    width: 100%;
    max-height: 165px;
    display: flex;
    position: static;
  
    .logo {
      padding-top: 75px;
      padding-left: 25%; 
      padding-right: 26%; 
      max-width: 50%;
    }
   
     .main-nav {
      background: @sidebar-bg;
      max-width: 100%;
      max-height: 75px;
      position: fixed;
      display: flex;
      // justify-content: space-around;

      .main-logo-txt {
        font-size: 1.6rem;
        padding-top: 2%;
      }
   
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 100%;
        max-height: 75px;
    
        #first-li {
          padding: 15px;
        }
          
        .else-li {
          padding: 15px;
        }
        a {
          font-size: 1rem;
          align-self: auto;
        }
      }
    }
  }
}