// Colors
@stpatricksblue: #274C77;
@silverlakeblue: #6096BA;
@babyblueeyes: #A3CEF1;
@azuerishwhite: #E1E5F2;
@taupegray: #8B8C89;

// Color components

@container-bg: @azuerishwhite;
@sidebar-bg: @stpatricksblue;
@underline-sb: @babyblueeyes;
@general-font-color: black;

// Fonts
@header-font: 'Raleway', sans-serif;
@general-font: 'Roboto', sans-serif;