.flex-column {
  display: flex;
  flex-direction: column;
}
.content-text {
  padding-top: 60px;
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  background-color: rgba(225, 229, 242, 0.6);
}
@media (max-width: 500px) {
  .content-text {
    font-size: 1.6rem;
    padding-top: 20px;
  }
}
.content-subtext {
  font-size: 1.6rem;
  padding: 60;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .content-subtext {
    font-size: 1rem;
    padding: 20px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#homepage-body {
  font-size: 62.5%;
  max-width: 100%;
}
@media (max-width: 500px) {
  #homepage-body {
    display: flex;
    flex-direction: column;
  }
}
#sidebar {
  position: fixed;
  background: #274C77;
  display: flex;
  flex-direction: column;
  max-width: 27%;
}
#sidebar .main-logo-txt {
  width: auto;
  text-align: center;
  font-size: 5rem;
  padding-top: 10%;
  font-family: 'Shadows Into Light', cursive;
  color: #E1E5F2;
}
#sidebar .main-nav {
  max-width: 100%;
  align-self: center;
}
#sidebar .main-nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}
#sidebar .main-nav ul #first-li {
  padding-top: 15%;
  text-align: center;
}
#sidebar .main-nav ul .else-li {
  padding-top: 20%;
  text-align: center;
}
#sidebar .main-nav ul a {
  text-decoration: none;
  color: #E1E5F2;
  font-size: 1.6rem;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}
#sidebar .main-nav ul a:hover {
  text-decoration-color: #E1E5F2;
}
@media (max-width: 500px) {
  #sidebar {
    max-width: 500px;
    width: 100%;
    max-height: 165px;
    display: flex;
    position: static;
  }
  #sidebar .logo {
    padding-top: 75px;
    padding-left: 25%;
    padding-right: 26%;
    max-width: 50%;
  }
  #sidebar .main-nav {
    background: #274C77;
    max-width: 100%;
    max-height: 75px;
    position: fixed;
    display: flex;
  }
  #sidebar .main-nav .main-logo-txt {
    font-size: 1.6rem;
    padding-top: 2%;
  }
  #sidebar .main-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    max-height: 75px;
  }
  #sidebar .main-nav ul #first-li {
    padding: 15px;
  }
  #sidebar .main-nav ul .else-li {
    padding: 15px;
  }
  #sidebar .main-nav ul a {
    font-size: 1rem;
    align-self: auto;
  }
}
#container {
  max-width: 100%;
  margin-left: 27%;
  background-image: linear-gradient(#E1E5F2, #8B8C89);
}
@media (max-width: 500px) {
  #container {
    max-width: 500px;
    margin-top: 15%;
    margin-left: 0;
  }
}
#container #main-content #main-intro {
  height: 150vh;
  background-image: url("helloquence-5fNmWej4tAA-unsplash.jpg");
  background-color: #E1E5F2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  #container #main-content #main-intro {
    height: 100vh;
  }
}
#container #main-content #main-intro .description {
  padding-top: 60px;
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  background-color: rgba(225, 229, 242, 0.6);
}
@media (max-width: 500px) {
  #container #main-content #main-intro .description {
    font-size: 1.6rem;
    padding-top: 20px;
  }
}
#container #main-content #main-intro .description h2 {
  font-family: 'Raleway', sans-serif;
}
#container #main-content #main-intro .description p {
  font-size: 1.6rem;
  padding: 60;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  #container #main-content #main-intro .description p {
    font-size: 1rem;
    padding: 20px;
  }
}
#container #main-content #the-app {
  height: 150vh;
  background-image: url("adeolu-eletu-unRkg2jH1j0-unsplash.jpg");
  background-color: #E1E5F2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  #container #main-content #the-app {
    height: 100vh;
  }
}
#container #main-content #the-app .description {
  padding-top: 60px;
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  background-color: rgba(225, 229, 242, 0.6);
}
@media (max-width: 500px) {
  #container #main-content #the-app .description {
    font-size: 1.6rem;
    padding-top: 20px;
  }
}
#container #main-content #the-app .description h2 {
  font-family: 'Raleway', sans-serif;
}
#container #main-content #the-app .description p {
  font-size: 1.6rem;
  padding: 60;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  #container #main-content #the-app .description p {
    font-size: 1rem;
    padding: 20px;
  }
}
#container #main-content #the-team {
  height: 150vh;
  background-image: url("john-schnobrich-2FPjlAyMQTA-unsplash.jpg");
  background-color: #E1E5F2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  #container #main-content #the-team {
    height: 100vh;
  }
}
#container #main-content #the-team .description {
  padding-top: 60px;
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  background-color: rgba(225, 229, 242, 0.6);
}
@media (max-width: 500px) {
  #container #main-content #the-team .description {
    font-size: 1.6rem;
    padding-top: 20px;
  }
}
#container #main-content #the-team .description h2 {
  font-family: 'Raleway', sans-serif;
}
#container #main-content #the-team .description p {
  font-size: 1.6rem;
  padding: 60;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  #container #main-content #the-team .description p {
    font-size: 1rem;
    padding: 20px;
  }
}
#container #main-content #contact {
  height: 150vh;
  background-image: url("photo-1528747045269-390fe33c19f2.jpg");
  background-color: #E1E5F2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  #container #main-content #contact {
    height: 100vh;
  }
}
#container #main-content #contact .description {
  padding-top: 60px;
  display: flex;
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  background-color: rgba(225, 229, 242, 0.6);
}
@media (max-width: 500px) {
  #container #main-content #contact .description {
    font-size: 1.6rem;
    padding-top: 20px;
  }
}
#container #main-content #contact .description h2 {
  font-family: 'Raleway', sans-serif;
}
#container #main-content #contact .description p {
  font-size: 1.6rem;
  padding: 60;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  #container #main-content #contact .description p {
    font-size: 1rem;
    padding: 20px;
  }
}
#footer {
  display: flex;
  max-width: 100%;
  padding: 1.8rem;
  align-items: center;
  justify-content: center;
  background: #6096BA;
}
#footer p {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
}
