/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#homepage-body {
  display: flex;
  font-size: 62.5%;
  width: 100%;
}
#sidebar {
  background: #274C77;
  display: flex;
  flex-direction: column;
  width: 27%;
}
#sidebar .main-nav {
  width: 200px;
  align-self: center;
}
#sidebar .main-nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}
#sidebar .main-nav ul #first-li {
  padding-top: 60%;
}
#sidebar .main-nav ul .else-li {
  padding-top: 20%;
}
#sidebar .main-nav ul a {
  text-decoration: none;
  color: #E1E5F2;
  font-size: 1.6rem;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}
#container {
  background: #E1E5F2;
  width: 73%;
}
#container #main-content #main-intro {
  display: flex;
}
#container #main-content #main-intro .image-main {
  width: 35%;
}
#container #main-content #the-app {
  display: flex;
}
#container #main-content #the-app .image-app {
  width: 39%;
}
#container #main-content #the-team {
  display: flex;
}
#container #main-content #the-team .image-team {
  width: 39%;
}
#container #main-content #contact {
  display: flex;
}
#container #main-content #contact .image-contact {
  width: 35%;
}
